.contact-route-box {
    display: flex;
    justify-content: center;
    background-color: #000f1b;
    padding: 3rem;
    font-size: 1.2rem;
    text-align: center;

    .contact-route-thank-message {
        margin: 7rem 0 15rem 0;
        color: #5dc7ec ;
    }

    .contact-route-form {
        padding: 3rem;
        width: 60rem;

        h4 {
            margin-bottom: 3rem;
        }

        .contact-route-nameAndEmail {
            height: 37px;
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }
    }

    .contact-route-form-message {
        font-size: 1.2rem;
    }
}