.home-box {
    padding: 3rem;
    font-size: 1.3rem;
    background-color: #000f1b;
    h3, h4 {
        text-align: center;
        margin-bottom: 8rem;
    }
    h5 {
        text-align: center;
        margin-bottom: 3rem;
    }

    .home-about-box {
        padding: 3rem 7rem 3rem 7rem;
        
        .home-about-content {
            display: grid;

            justify-content: center;

            @media (min-width: 480px){
                grid-template-columns: repeat(1, 1fr);
            }
            @media (min-width: 980px){
                grid-template-columns: repeat(2, 1fr);
            }

            .home-about-img {
                display: flex;
                justify-content: center;
                padding-bottom: 3rem;
            }
            .home-about-text {
                text-align: center;
            }

        }
    }

    .home-edu {
        
        padding: 3rem 7rem 3rem 7rem;

        .home-edu-school{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .home-edu-xamk, .home-edu-helia {
            width: 500px;
            padding: 3rem;
            text-align: center;
        }
        // .home-edu-helia {
        //     width: 500px;
        //     padding: 3rem;
        //     text-align: center;
        // }
    }

    .home-skill {
        padding: 3rem 7rem 3rem 7rem;
        h4 {
            color: #34d7d7 ;
            // color: #0096FF;
            // width: 40%;
            margin-bottom: 5rem;
        }
        .home-skill-tech-col {
            display: grid;
            // padding: 5rem 20rem 0 20rem;
            grid-gap: 6px;
            margin-bottom: 5rem;;

            @media (min-width: 480px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 768px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 960px){
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .home-skill-business-col {
            display: grid;
            // padding: 5rem 20rem 0 20rem;
            grid-gap: 16px;

            @media (min-width: 480px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 768px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 960px){
                grid-template-columns: repeat(3, 1fr);
            }
    }
    
}
}
